<div class="container">
  <div class="ui-card">
    <h1 class="title">Task Splitter</h1>

    <div class="people-section">
      <h2 class="subtitle">People</h2>
      <ul class="list">
        <li *ngFor="let person of people" class="list-item">{{ person }}</li>
      </ul>
    </div>
    
    <div class="add-container">
      <input
        (keyup.enter)="onClickPerson()"
        #personInput
        type="text"
        (input)="onPersonInput(personInput.value)"
        [value]="personInputText"
        placeholder="Name"
        class="input-field"
      />
      <button (click)="onClickPerson()" class="add-btn">Add person</button>
    </div>

    <p *ngIf="errorMessagePerson" class="error-msg">{{ errorMessagePerson }}</p>

    <div class="tasks-section">
      <h2 class="subtitle">Tasks</h2>
      <ul class="list">
        <li *ngFor="let task of tasks" class="list-item">{{ task.name }}, {{ task.imageUrl }}</li>
      </ul>
    </div>

    <div class="add-container">
      <input
        (keyup.enter)="onClickTask()"
        #taskInput
        type="text"
        (input)="onTaskInput(taskInput.value)"
        [value]="taskInputText"
        placeholder="Task"
        class="input-field"
      />

      <div class="search-container">
        <input
          (keyup.enter)="onSearch()"
          #taskImage
          type="text"
          (input)="onSearchInput(taskImage.value)"
          [value]="searchInputText"
          placeholder="Search for an image"
          class="input-field"
        />
        <button (click)="onSearch()" class="search-btn">Search</button>
      </div>

      <button (click)="onClickTask()" class="add-btn">Add task</button>
    </div>

    <p *ngIf="errorMessageTask" class="error-msg">{{ errorMessageTask }}</p>

    <div *ngIf="imageUrl" class="image-container">
      <img [src]="imageUrl" class="task-image"/>
    </div>

    <p *ngIf="errorMessageSearch" class="error-msg">{{ errorMessageSearch }}</p>
  </div>

  <button (click)="assignTasks()" class="assign-btn">Assign tasks</button>
  <p *ngIf="errorMessageAssign" class="error-msg">{{ errorMessageAssign }}</p>

  <div class="assigned-container" *ngFor="let person of persons">
    <h3 class="person-name"> {{ person.name }} </h3>
    <ul class="assigned-list">
      <li class="no-bullets assigned-item" *ngFor="let task of person.tasks">
        {{ task.name }}
        <img [src]="task.imageUrl" class="assigned-image">
      </li>
    </ul>
  </div>
</div>

<router-outlet></router-outlet>
